<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6, maximum-scale=1.0, user-scalable=no"/>

    <title>Dashboard</title>

    {% load static %}
    <link rel="icon" href="{% static 'mim_cat.gif' %}" type="image/gif" sizes="16x16">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block scripts %}
    {% endblock %}
</head>
<body style="background-image: url('{{ background.image.url }}'); background-repeat: no-repeat; background-position: center;
         -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
<div class="topbar">
    {% block topbar %}
        <ul class="nav justify-content-end">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'todo' %}">
                    <button class="btn btn-light my-2 my-sm-0" type="submit">To Do List</button>
                </a>
            </li>
            {% if user.is_authenticated %}
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                    <input name="searched_item" class="form-control mr-sm-2" type="search" placeholder="Search User"
                           aria-label="Search">
                    <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todo' %}" tabindex="-1" aria-disabled="true">
                        <button class="btn btn-light my-2 my-sm-0">{{ user.get_username }}</button>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">
                        <button class="btn btn-light my-2 my-sm-0">Logout</button>
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">
                        <button class="btn btn-light my-2 my-sm-0">Login</button>
                    </a>
                </li>

            {% endif %}
        </ul>
    {% endblock %}
</div>
<div class="center">
    {% block authentication_block %}{% endblock %}
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
{% block footer %}
    <footer class="page-footer font-small blue pt-4">
        <div class="footer-copyright text-center py-3">
            <a href="{% url 'send_suggestions' %}"><button class="btn btn-dark my-2 my-sm-0">For suggestions please write a message</button></a>
        </div>
    </footer>
{% endblock %}
</body>
</html>