<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
<div class="topbar">
    {% block topbar %}
        <ul class="nav justify-content-end">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'todo' %}">To Do List</a>
            </li>
            {% if user.is_authenticated %}
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                    <input name="searched_item" class="form-control mr-sm-2" type="search" placeholder="Search User" aria-label="Search">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                    {{ user.get_username }}
                </a></li>
                <li><a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
            {% else %}
                <li><a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a></li>

            {% endif %}

        </ul>

    {% endblock %}
</div>
<div class="center">
    {% block authentication_block %}{% endblock %}
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>