{% extends 'base_generic.html' %}
{% block content %}

    <div>
        <div class="card-group">
            <ul class="images-list">
                {% for image in images %}
                    {% if image.image.url %}
                        <li class="image-list">
                            <a href="{% url 'select_background' image.id %}">
                                <img class="custom-img" src="{{ image.image.url }}" alt="{{ image.image.title }}">
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <form class="form-inline custom-form" action="{% url 'set_background' %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="input-group-text" type="submit">+</button>
        </form>
    </div>

{% endblock %}