{% extends "base_generic.html" %}
{% block content %}
    <form class="form-inline" action="{% url 'add_board' %}" method="post">
        {% csrf_token %}
        {{ board_form }}&nbsp;
        <button type="submit" class="btn btn-outline-secondary">Add List</button>
    </form>
    <form class="form-inline" action="{% url 'add_task' %}" method="post">
    {% csrf_token %}
        {{ task_form }}&nbsp;
        <button class="btn btn-outline-secondary" type="submit">Add Task</button>
    </form>
    <br>
    <div>
        {% for key, value in todo_dict.items %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark">{{ key }}</li>

                {% for task in value %}
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <form class="form-inline" action="{% url 'check' pk=task.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="custom-control-input" id="{{ task.id }}">
                            </form>
                            <label class="custom-control-label" for="{{ task.id }}"
                                   style="{% if task.done %}text-decoration: line-through;{% endif %}">{{ task.action }}</label>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        {% endfor %}
    </div>
{% endblock %}
