{% extends "base_generic.html" %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("button[data-target='#shareModal']").click(function () {
                $("#boardID").val($(this).data('board-id'));
            });
        });
    </script>
{% endblock %}
{% block content %}
    <form class="form-inline" action="{% url 'add_board' %}" method="post">
        {% csrf_token %}
        {{ board_form }}
        <button type="submit" class="btn btn-outline-dark">Add List</button>
        <a href="{% url 'set_background' %}">
            <button type="button" class="btn btn-outline-dark">Set Background</button>
        </a>
    </form>
    <br>
    <div class="custom_scrollable">
        {% for key, value in todo_dict.items %}
            <div class="wrapper_board">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">

                        <form action="{% url 'delete_board' pk=key.id %}" method="post">
                            {% csrf_token %}
                            {{ key.name }}

                            <button type="submit" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </form>

                        <button data-board-id="{{ key.id }}" type="button"
                                class="btn btn-outline-light float-right share"
                                data-toggle="modal"
                                data-target="#shareModal">
                            Share
                        </button>
                    </li>

                    <li class="list-group-item">
                        <form class="form-inline" action="{% url 'add_task' pk=key.id %}" method="post">
                            {% csrf_token %}
                            <button class="input-group-text" type="submit">+</button>
                            {{ task_form }}
                        </form>
                    </li>
                    {% for task in value %}
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">

                                <form class="form-inline" action="{% url 'check' pk=task.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" class="custom-control-input" id="{{ task.id }}">
                                </form>

                                <form action="{% url 'delete_task' pk=task.id %}" method="post">
                                    {% csrf_token %}
                                    <label class="custom-control-label" for="{{ task.id }}"
                                           style="{% if task.done %}text-decoration: line-through;{% endif %}">{{ task.action }}</label>
                                    <button type="submit" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </form>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>

        {% endfor %}
    </div>
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog"
         aria-labelledby="shareModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="shareModalLabel">Share Board</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'share_board' %}">

                    <div class="modal-body">
                        <div>
                            <input readonly="readonly" id="boardID" type="hidden" name="board_id"/>
                        </div>
                        {% csrf_token %}
                        {{ friends_form }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Share</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
