{% extends "base_generic.html" %}
{% block content %}
    <form class="form-inline" action="" method="post">
    {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-secondary">Add List</button>
    </form>
    <br>
    <div>
        {% for key, value in todo_dict.items %}
           <ul class="list-group">
               <li class="list-group-item list-group-item-dark">{{ key }}</li>
                {% for task in value %}
                    <li class="list-group-item">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="{{ task.id }}">
                        <label class="custom-control-label" for="{{ task.id }}"
                               style="{% if task.done %}text-decoration: line-through;{% endif %}">{{ task.action }}</label>
                    </div>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}
