
.center {
    margin: auto;
    padding: 10px;
    width: fit-content;
}

.content {
    height: 100%;
    padding: 0;
}

.topbar {
    margin-top: 5px;
}

.dropdown-item {
    white-space: nowrap;
}

.dropdown-item .text {
    word-wrap: break-word;
}

.dropdown-menu.show {
    min-width: 100% !important;
    width: 100% !important;

}

ul.list-group {
    float: top;
    margin-right: 2px;
    margin-left: 7px;
    height: 100ch;


}

div.wrapper_board {
    display: inline-block;


}

div.custom_scrollable {

    overflow: auto;
    white-space: nowrap;


}

.form-inline {
    margin-left: 10px;
}

div.custom-form {
    align-self: center;
}

img.card-img-top{
    width: 30%;
}